/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0.75rem;
}

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1,
.font-h1 {
  font-size: 2.75rem;
}

h2,
.font-h2 {
  font-size: 2.25rem;
}

h3,
.font-h3 {
  font-size: 2rem;
}

h4,
.font-h4 {
  font-size: 1.75rem;
}

h5,
.font-h5 {
  font-size: 1.5rem;
}

h6,
.font-h6 {
  font-size: 1.25rem;
}

.o-container {
  display: flex;
  flex-wrap: wrap;
}

.o-row {
  display: flex;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.t-min-vh-100 {
  min-height: 100vh;
}

.t-btn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  color: #fff;
  background-color: #01b8d9;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.bg-transparent {
  background-color: transparent;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.my-1 {
  margin: 0.25rem 0;
}

.my-2 {
  margin: 0.5rem 0;
}

.my-3 {
  margin: 0.75rem 0;
}

.my-4 {
  margin: 1rem 0;
}

.my-5 {
  margin: 1.25rem 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.rotate-90 {
  transform: rotate(90deg);
}

.font-xxs {
  font-size: 0.5rem;
}

.font-xs {
  font-size: 0.75rem;
}

.vertical-separator {
  border: 0.5px solid #e3e3e347;
  height: 50%;
  margin: 1rem;
}

.o-card__blank {
  display: block;
  background: #ebecf0;
  border-radius: 25px;
  width: 3rem;
  height: 0.5rem;
}